$title-text-color: white;
$title-background-color: #5BC0B6;
$content-background-color: #C3E4ED;
$content-text-color: black;

.accordion > br {
  display: none;
}

.accordion-item {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.accordion-item input {
  display: none;
}

.accordion-item label {
  position: relative;
  display: block !important;
  font-weight: bold !important;
  font-size: 20px !important;
  margin: 0 !important;
  padding: 0 0 0 1em;
  background: $title-background-color;
  color: $title-text-color;
  line-height: 3;
  cursor: pointer;
}

.accordion-item .container {
  height: auto;
  max-height: 0;
  background: $content-background-color;
  transition: 300ms all linear;
}

.accordion-item .container .content {
  color: $content-text-color;
  padding: 20px;
}

.accordion-item input:checked ~ .container {
  max-height: 99999999999px !important;
}

/* Icon */
.accordion-item label::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  transition: all .35s;
}

.accordion-item input[type=checkbox] + label::after {
  content: "+";
}

.accordion-item input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}

.accordion-item input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

.accordion-item input[type=radio] + label::after {
  content: "\25BC";
}