.contact-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-wrap .col {

}

#content .contact-wrap .map {
  margin-left: 40px;
}

form p label input.wpcf7-text,
form p label textarea.wpcf7-textarea {
  width: calc(100% - 16px);
}