/* --- Secondary Page Banners --- */
#wrapper .banner-wrap {
  height: 110px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
}
#wrapper .banner-wrap .banner {
  width: 100%;
  height: 100%;
  background-color: rgba(91,192,182,0.76);
}

#wrapper .banner-wrap .banner h2 {
  width: 100%;
  margin: 0;
  text-align: center;
  color: #FFF;
  letter-spacing: 2px;
  font-size: 36px;
  line-height: 110px;
  font-family: 'SP-Reg';
  font-weight: normal;
}

/* --- Page Content --- */
#wrapper > #content {
  margin: 20px auto;
  font-family: 'SP-Regular', Arial, sans-serif;
  color: #666;
}

#wrapper > #content .secondary-page-wrap {
  width: 1050px;
  margin: 0 auto;
}

#content hr {
  display: block;
  width: 90%;
  margin: 30px auto;
  border: none;
  line-height: 1px;
  height: 1px;
  color: rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.2);
}

/* ----- Floats ----- */
.alignright {
  float:right;
  margin:0 0 20px 45px;
  padding:0;
}
.alignleft {
  float:left;
  margin:0 45px 20px 0;
  padding:0;
}
.aligncenter {
  text-align:center;
}

#wrapper > #content h3 {
  font-size: 22px;
  letter-spacing: 1px;
  font-family: 'SP-Black', Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 25px 0;
  color: #333;
}
#wrapper > #content h4 {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'SP-Bold', Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 15px 0;
  color: #333;
}
#wrapper > #content p {
  font-size: 15px;
  line-height: 26px;
  font-family: 'SP-Reg', Arial, sans-serif;
  color: #464646;
  margin: 0 0 25px 0;
  padding: 0;
}
#wrapper > #content ul {
  margin: 0 0 20px 10px;
  padding: 0 0 0 10px;
  list-style: circle;
}
#wrapper > #content ol {
  margin: 0 0 20px 10px;
  padding: 0 0 0 10px;
  list-style: decimal;
}
#wrapper > #content li {
  font-size: 14px;
  line-height: 24px;
  font-family: 'SP-Reg', Arial, sans-serif;
  color: #464646;
  margin: 0 0 8px 0;
}
#wrapper > #content strong {
  font-family: 'SP-Bold', Arial, sans-serif;
  font-weight: normal;
}
#wrapper > #content img {
  border-radius: 25px;
}
#wrapper > #content table.tablepress {
  margin: 0 0 20px 0;
  border: none;
}
#wrapper > #content table.tablepress td {
  font-size: 14px;
  font-family: 'SP-Reg', Arial, sans-serif;
  color: #666;
}
#wrapper > #content table.tablepress th {
  font-size: 17px;
  font-family: 'SP-Black', Arial, sans-serif;
  color: #FFF;
  background-color: rgba(91,192,182,1.0);
  text-transform: uppercase;
}


@media (max-width: 1050px) {
  #wrapper > #content .secondary-page-wrap {
    width: 90%;
  }
}