/* --- Source Sans Pro --- */
@font-face {
  font-family: 'SP-Reg';
  src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  mso-font-alt: Arial;
}
@font-face {
  font-family: 'SP-Light';
  src: url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  mso-font-alt: Arial;
}
@font-face {
  font-family: 'SP-Semibold';
  src: url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  mso-font-alt: Arial;
}
@font-face {
  font-family: 'SP-Bold';
  src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  mso-font-alt: Arial;
}
@font-face {
  font-family: 'SP-Black';
  src: url('../fonts/sourcesanspro-black-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  mso-font-alt: Arial;
}

/* --- Pacifico --- */
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/pacifico-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  mso-font-alt: cursive;
}

/* --- Encode Sans --- */
@font-face {
  font-family: 'encode_sans_expandedblack';
  src: url('../fonts/encodesansexpanded-black-webfont.woff2') format('woff2'),
  url('../fonts/encodesansexpanded-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedbold';
  src: url('../fonts/encodesansexpanded-bold-webfont.woff2') format('woff2'),
  url('../fonts/encodesansexpanded-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedextrabold';
  src: url('../fonts/encodesansexpanded-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/encodesansexpanded-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedXLt';
  src: url('../fonts/encodesansexpanded-extralight-webfont.woff2') format('woff2'),
  url('../fonts/encodesansexpanded-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedlight';
  src: url('../fonts/encodesansexpanded-light-webfont.woff2') format('woff2'),
  url('../fonts/encodesansexpanded-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedmedium';
  src: url('../fonts/encodesansexpanded-medium-webfont.woff2') format('woff2'),
  url('../fonts/encodesansexpanded-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedregular';
  src: url('../fonts/encodesansexpanded-regular-webfont.woff2') format('woff2'),
  url('../fonts/encodesansexpanded-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedsemibold';
  src: url('../fonts/encodesansexpanded-semibold-webfont.woff2') format('woff2'),
  url('../fonts/encodesansexpanded-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedthin';
  src: url('../fonts/encodesansexpanded-thin-webfont.woff2') format('woff2'),
  url('../fonts/encodesansexpanded-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

