#footer {
  background: url('../images/bg-footer.png') no-repeat 40px center;
}

#footer .ribbon {
  height: 40px;
  background-color: #B7D063;
}

#footer .ribbon .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $site-width;
  height: 100%;
  margin: 0 auto;
}

#footer .ribbon .content ul.links {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#footer .ribbon .content ul.links li {
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: 'SP-Reg', Arial, sans-serif;
  font-size: 14px;
  color: white;
}

#footer .ribbon .content ul.links,
#footer .ribbon .content ul.links a {
  color: white;
  font-family: 'SP-Reg', Arial, sans-serif;
}

#footer .ribbon .content ul.social-media {
  display: flex;
  margin: 0;
}

#footer .ribbon .content ul.social-media li {
  display: flex;
  align-items: center;
}

#footer .ribbon .content ul.social-media li:not(:last-child) {
  margin-right: 15px;
}

#footer .sub-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $site-width;
  margin: 0 auto;
}

#footer .sub-footer .sub-left, #footer .sub-footer .sub-right {

}

#footer .sub-footer .left-sub a:link, #footer .sub-footer .left-sub a:visited {
  display: block;
  border: none;
  text-decoration: none;
  opacity: 0.5;
  transition: 200ms all linear;
  margin-top: 20px;
}

#footer .sub-footer .left-sub a:hover, #footer .sub-footer .left-sub a:active {
  opacity: 1.0;
}

#footer .bottom {
  display: block;
  margin: 35px auto;
  text-align: right;
  color: #3F4895;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}

#footer .bottom a.invex-link:link, #footer .bottom a.invex-link:visited {
  color: #3F4895;
  text-decoration: none;
}
#footer .bottom a.invex-link:hover, #footer .bottom a.invex-link:active {
  text-decoration: underline;
}

#footer .disclaimer {
  display: block;
  max-width: 620px;
  padding-bottom: 25px;
  text-align: right;
  color: rgba(0,0,0,0.7);
  font-family: Verdana, sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-style: italic;
}

@media (max-width: 1050px) {
  #footer .ribbon {
    height: auto  !important;
  }
  #footer .sub-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #footer .bottom {
    text-align: center;
  }
}