form {
  display: block;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  margin: 0 0 25px 0;
  background-color: rgba(91, 192, 182, 0.3);
}

form p {
  font-size: 13px;
  line-height: 19px;
  margin: 0 0 10px 0;
  padding: 0;
}

form p label {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: normal;
}

form p label span {
  font-weight: 400;
}

form p label span.wpcf7-form-control-wrap {
  display: block;
  width: 100%;
}

form p label input.wpcf7-text, form p label textarea.wpcf7-textarea {
  border-radius: 5px;
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 5px 8px;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

form p label textarea.wpcf7-textarea {

}

form input.wpcf7-submit, form input[type=submit] {
  background: #656DAA;
  border: 1px solid #656DAA;
  border-radius: 5px;
  font-size: 14px;
  color: #FFF;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: 300ms all linear;
}

form input.wpcf7-submit:hover, form input[type=submit]:hover {
  transition: 300ms all linear;
  border-color: #414797;
  background: #414797;
}
