@charset "utf-8";

html, body, div, p, h1, h2, h3, img {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: 'encode_sans_expandedsemibold', Webdings;*/
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}

table, table td, table th {
  border-collapse: collapse;
}

map, area {
  border: none;
}

div.clearer {
  clear: both;
  height: 1px;
}