#header .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: $site-width;
  margin: 30px auto;
}

#header .top .logo a {
  display: block;
  opacity: 1;
  text-decoration: none;
  transition: 200ms all linear;
}

#header .top .logo a img {
  max-width: 100%;
}

#header .top .logo a:hover {
  opacity: 0.8;

}

#header .top .right .purpose-quote {
  width: 352px;
  margin-bottom: 10px;
  max-width: 100%;
}

#header .top .right span.locations {
  font-family: 'SP-Reg', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(63,72,149,0.63);
}

#header .top .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header .nav-container {
  height: 40px;
  background-color: #656DAA;
}

#header ul.nav {
  display: flex;
  flex-direction: row;
  width: $site-width;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

#header .nav li {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  transition: 300ms all linear;
}

#header .nav li:hover {
  background-color: rgb(165, 196, 60);
}

#header .nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  transition: 300ms all linear;
  font-family: 'SP-Semibold', Arial, sans-serif;
  font-size: 16px;
  background-color: transparent !important;
}

.nav .has-children {
  position: relative;
}

.nav .has-children ul.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 10000;
  top: 39px;
  left: 0;
  background-color: #A5C43C;
  min-width: 250px;
  max-width: 400px;
}

.nav .has-children ul.dropdown li a {
  display: block;
  width: 100%;
  background-color: #a5c43c;
  transition: 300ms all linear;
  text-transform: none !important;
  font-family: 'SP-Semibold', Arial, sans-serif;
  font-size: 14px !important;
}

.nav .has-children ul.dropdown li a:hover {
  background-color: #8baa38;
}

.nav .has-children:hover > ul.dropdown {
  display: flex;
}

.nav ul.dropdown:not(.depth-0) {
  left: 100%;
  top: 0 !important;
  margin: 0;
  border-left: 4px solid white;
}

.nav ul.dropdown .has-children:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f054";

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  color: white;
}