.callout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.callout-container .callout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  min-height: 175px;
  margin: 20px 0 50px;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  border-radius: 20px;
  transition: 300ms all linear;
  cursor: pointer;
}

.callout-container .callout:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.callout-container .callout > *:not(:last-child) {
  margin: 5px 0;
  text-align: center;
}

.callout-container .callout .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  padding: 10px;
  font-size: 25px;
  border-radius: 50px;
  color: white;
}

.callout-container .callout .title {
  font-family: 'SP-Bold', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.callout-container .callout .content {
  font-family: 'SP-Reg', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #666;
  letter-spacing: 1px;
}

.callout-container .callout a:link, .callout-container .callout a:visited {
  text-decoration: none;
  color: #3F4895;
  transition: 300ms all linear;
  font-family: 'SP-Bold', Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}

.callout-container .callout a:hover, .callout-container .callout a:active {
  color: #364179;
}