#wrapper .banner-wrap.interactive-map .banner h2 {
  margin: 0;
}

#wrapper .banner-wrap.interactive-map {
  margin-bottom: 30px;
}

.content.interactive-map {
  width: 1200px;
  max-width: 90%;
}

.content.interactive-map .section-header {
  margin: 50px auto;
  position: relative;
  text-align: center;
}

.content.interactive-map .section-header:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgba(120, 120, 120, 0.5);
  z-index: 0;
}

.content.interactive-map .section-header h2 {
  position: relative;
  z-index: 1;
  width: 350px;
  margin: 0 auto;
  font-family: 'SP-Reg', Arial, sans-serif;
  background-color: white;
  color: #3D3D3D;
  font-size: 25px;
  font-weight: 700;
}

.content.interactive-map .additional-resources {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.content.interactive-map .additional-resources a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 40px;
  text-decoration: none !important;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  transition: 300ms all linear;
}
.content.interactive-map .additional-resources a:not(:last-child) {
  margin-right: 25px;
}

.content.interactive-map .additional-resources a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.content.interactive-map .additional-resources a img {
  border-radius: 0 !important;
}

.content.interactive-map .additional-resources a p {
  margin-top: 10px !important;
  font-style: italic;
  opacity: 0.8;
  color: rgba(102, 102, 102, 1) !important;
  transition: 300ms all linear;
}

.content.interactive-map .additional-resources a:hover p {
  color: rgba(0, 0, 0, 1) !important;
}