.newsletters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.newsletters > * {
  flex: 1;
  flex-basis: 325px;
  max-width: 325px;
  margin: 20px;
  box-shadow: 0 2px 14px 1px black;
}

.img-caption-slide-up-hover-effect {
  position: relative;
  overflow: hidden;
  height: auto;
  text-align: center;
  cursor: pointer;
}

.img-caption-slide-up-hover-effect:hover img {
  -webkit-transform: translate3d(0, -64px, 0);
  transform: translate3d(0, -64px, 0);
}

.img-caption-slide-up-hover-effect img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  border: 0;
}

.img-caption-slide-up-hover-effect .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 40px);
  text-transform: none;
  font-size: 90%;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(0, 127px, 0);
  padding: 20px;
  color: #fff;
}

.img-caption-slide-up-hover-effect:hover .caption {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.img-caption-slide-up-hover-effect img, .img-caption-slide-up-hover-effect .caption {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.img-caption-slide-up-hover-effect {
  h2 {
    margin: 0 !important;
  }

  p {
    margin: 10px 0 0 !important;
    font-size: 13px !important;
    line-height: 16px !important;
    color: white !important;
  }
}

#wrapper > #content table.tablepress.past-newsletters {
  max-width: 500px;
  margin: 0 auto !important;

  img {
    border-radius: 0 !important;
  }

  .column-2,
  .column-3 {
    text-align: center;
  }
}

