.responsive-info {
  display: none;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 0;
}

@media (max-width: $site-width) {
  #responsive_menu {
    display: block !important;
  }

  .nav-container .nav {
    display: none !important;
  }

  #header img.logo-text {
    display: none;
  }

  #header .top {
    flex-direction: column;
    width: 90%;
  }

  #header .top .right {
    margin-top: 20px;
  }

  #header .nav-container {
    background-color: initial;
  }

  .callout-container .callout {
    margin-bottom: 20px;
  }

  #footer .ribbon .content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #footer .ribbon .content ul.links {
    flex-direction: column;
    align-items: center;
  }

  #footer .ribbon .content ul.links li {
    padding: 5px;
  }

  #footer .ribbon .content ul.links .separator {
    display: none;
  }

  #footer .ribbon .content ul.social-media {
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  #header .top .right .locations {
    display: none;
  }

  #footer .ribbon .content ul.links li.meetings {
    display: none;
  }

  #footer .bottom {
    flex-direction: column;
    align-items: center;
  }

  #footer .bottom li {
    text-align: center;
  }

  #footer .bottom li:first-child {
    margin-bottom: 15px;
  }

  #footer .bottom .separator {
    display: none;
  }
}