.metaslider.home {
  margin: 0 auto;
}

.home-banner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.home-banner .cycle-slideshow .slide {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-banner .cycle-slideshow .slide.cycle-slide-active {
  display: flex !important;
}

.home-banner .cycle-slideshow .slide img {
  width: 100%;
}

.home-banner .flex-control-nav {
  display: none;
}


@media (min-width: $site-width) {
  .home-banner .cycle-slideshow .slide {
    height: 307px;
  }
}