#wrapper > #content #tablepress-2 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper > #content #tablepress-2 img {
  border-radius: 0px;
}

#wrapper > #content #tablepress-2 td:nth-child(2), #wrapper > #content #tablepress-2 td:nth-child(3),
#wrapper > #content #tablepress-2 th:nth-child(2), #wrapper > #content #tablepress-2 th:nth-child(3) {
  text-align: center;
}