.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tabs .labels {
    display: flex;
    flex-direction: row;
}

.tabs label {
    order: 0;
    display: block;
    padding: 5px 10px;
    margin-bottom: 0;
    margin-left: 8px;
    background-color: #BBBBBB;
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.tabs .tab {
    display: none;
    flex-basis: 100%;
    order: 1;
    background-color: #DDDDDD;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
}

.tabs .tab .print-title {
    display: none;
}

.tabs label.active {
    background-color: #DDDDDD;
    margin-bottom: -1px;
    z-index: 10;
}

.tabs .tab.active {
    display: block;
}